<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>{{title}}</title>
</head>

<body>

    <header>
        <div class="inner">
        <nav>
            <ul>
                {% include pages/nav.liquid for nav %}
            </ul>
        </nav>
        </div>
    </header>
    <section class="hero">
        <div class="inner">
            <h1>{{title}}</h1>
            <h2>{{sub_title}}</h2>  
            <p>{{hero_text}}</p>
        </div>
    </section>
        {{content}}
    <footer>
        {% include pages/footer.liquid for footer %}
        <ul>
          {% include pages/footer_nav.liquid for footer_nav %}
        </ul>
    </footer>
    <script src="/assets/js/main.js"></script>
</body>
</html>
