<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:500|Palanquin:400,500" rel="stylesheet">
    <title>{{title}}</title>
</head>

<body>

    <header>
        <div class="inner header_bloc">
            <img src="/assets/img/logo_design_systems.svg" alt="logo"/>
            <nav>
                <ul>
                    {% include pages/nav.liquid for nav %}
                </ul>
            </nav>
        </div>
    </header>
    <section class="hero">
        <div class="inner">
            <div class="hero__content">
                <h1>{{title}}</h1>
                <h2 class="h2_hero">{{hero_title}}</h2>
                <p>{{description_hero}}</p>
            </div>
        </div>
    </section>

    <div class="wrapper">
        {{content}}
    </div>
    <footer>
      {% include pages/footer_contenu.liquid for footer_contenu %}
      <ul>
        {% include pages/footer_nav.liquid for footer_nav %}
      </ul>
      <hr>
      <ul>
        {% include pages/footer_rs.liquid for footer_rs %}
      </ul>
    </footer>
    <script src="/assets/js/main.js"></script>
</body>
</html>
